<?xml version="1.0"?>
<GameSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PreferredFullScreen>false</PreferredFullScreen>
  <PreferredWindowWidth>1280</PreferredWindowWidth>
  <PreferredWindowHeight>768</PreferredWindowHeight>
  <KeyboardSettings>
    <A>A</A>
    <B>S</B>
    <X>D</X>
    <Y>W</Y>
    <LeftShoulder>NumPad7</LeftShoulder>
    <RightShoulder>NumPad8</RightShoulder>
    <LeftTrigger>NumPad4</LeftTrigger>
    <RightTrigger>NumPad6</RightTrigger>
    <LeftStick>NumPad1</LeftStick>
    <RightStick>NumPad3</RightStick>
    <Back>Back</Back>
    <Start>Enter</Start>
    <DPadDown>Down</DPadDown>
    <DPadLeft>Left</DPadLeft>
    <DPadRight>Right</DPadRight>
    <DPadUp>Up</DPadUp>
    <LeftThumbstickDown>Down</LeftThumbstickDown>
    <LeftThumbstickLeft>Left</LeftThumbstickLeft>
    <LeftThumbstickRight>Right</LeftThumbstickRight>
    <LeftThumbstickUp>Up</LeftThumbstickUp>
    <RightThumbstickDown>K</RightThumbstickDown>
    <RightThumbstickLeft>J</RightThumbstickLeft>
    <RightThumbstickRight>L</RightThumbstickRight>
    <RightThumbstickUp>I</RightThumbstickUp>
  </KeyboardSettings>
  <KeyRelations>
    <KeyRelation>
      <ActionName>Stance</ActionName>
      <Button>LeftShoulder</Button>
      <Down>false</Down>
      <Pressed>true</Pressed>
    </KeyRelation>
    <KeyRelation>
      <ActionName>MoveLeft</ActionName>
      <Button>LeftThumbstickLeft</Button>
      <Down>true</Down>
      <Pressed>false</Pressed>
    </KeyRelation>
    <KeyRelation>
      <ActionName>MoveRight</ActionName>
      <Button>LeftThumbstickRight</Button>
      <Down>true</Down>
      <Pressed>false</Pressed>
    </KeyRelation>
    <KeyRelation>
      <ActionName>Punch</ActionName>
      <Button>A</Button>
      <Down>false</Down>
      <Pressed>true</Pressed>
    </KeyRelation>
    <KeyRelation>
      <ActionName>Backflipcrunchmurder</ActionName>
      <Button>Start</Button>
      <Down>false</Down>
      <Pressed>true</Pressed>
    </KeyRelation>
  </KeyRelations>
</GameSettings>